<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="test_2"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            name="sample.ipe.test">
         <property
               name="appName"
               value="sample.ipe.test">
         </property>
      </product>
   </extension>
   <extension
         id="ipe_test_2"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            name="sample.ipe.test">
         <property
               name="appName"
               value="sample.ipe.test">
         </property>
      </product>
   </extension>

</plugin>
